.feedback-section {
  max-width: 600px;
  margin: 40px auto;
  padding:  20px 20px 60px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.feedback-section h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  color: #0077b6;
  font-weight: 600;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.feedback-form label{
    text-align: left;
}
.feedback-form input,
.feedback-form textarea,
.feedback-form select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.feedback-form textarea {
  resize: vertical;
  min-height: 100px;
}

.feedback-form button {
  position: absolute;
  bottom: -50px;
  right: 0;
  padding: 10px 20px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
  background-color: #005f8e;
}
