body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f6f9fc;
}

.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.admin-content {
    flex: 1;
    padding: 40px;
}

/*Color*/
:root {
    --color-primary: #2cbde5;
    --color-secondary: #0a6fae;
    --color-hover: #ffeb3b;
    --color-accent: #ff9800;
    --color-accent-light: #ffb74d;
    --color-accent-dark: #e68900;
    --color-danger: #d32f2f;
    --color-sale: #ff5722;
    --color-muted: #888;
    --color-background: #f9f9f9;
    --color-light-blue: #f1f9ff;
    --color-text: #333;
}

/* header */
.admin-header h1 {
    font-size: 24px;
    margin-bottom: 6px;
    color: var(--color-secondary);
}

.admin-header p {
    font-size: 14px;
    color: #555;
}

/* Sidebar */
.admin-sidebar {
    width: 240px;
    background-color: var(--color-secondary);
    color: white;
    padding: 30px 20px;
}

.admin-sidebar .logo {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.admin-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu li {
    margin-bottom: 20px;
}

.admin-menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s ease;
}

.admin-menu a:hover {
    opacity: 0.5;
}