.about-section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.about-section h2 {
    font-size: 2.2em;
    color: #0a6fae;
    text-align: center;
    margin-bottom: 40px;
}

.about-block {
    margin-bottom: 50px;
}

.about-block h3 {
    font-size: 1.5em;
    color: #084d7d;
    margin-bottom: 15px;
}

.about-block p {
    font-size: 1.05em;
    line-height: 1.7;
    color: #444;
    margin-bottom: 15px;
}

.about-block ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.about-block li {
    margin-bottom: 10px;
    font-size: 1em;
}