.order-code {
    font-size: 16px;
    color: var(--color-secondary);
    font-weight: 600;
}

.order-detail {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.info-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    flex: 1;
    min-width: 280px;
}

.info-box h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: var(--color-secondary);
}

.info-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-box li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.status.delivered {
    background-color: #e0f8e9;
    color: #2e8b57;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 13px;
}

.order-items {
    margin-top: 40px;
}

.order-items h3 {
    font-size: 18px;
    margin-bottom: 16px;
    color: var(--color-secondary);
}

.order-items table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.order-items th {
    background-color: var(--color-secondary);
    color: white;
    font-weight: 600;
    padding: 14px 18px;
    text-align: left;
}

.order-items td {
    padding: 14px 18px;
    border-bottom: 1px solid #eee;
    color: #333;
}

.total {
    margin-top: 20px;
    font-size: 16px;
    text-align: right;
    color: var(--color-secondary);
    font-weight: 600;
}

.btn-cancel {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 0.95em;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
    margin-right: 10px ;
}

.btn-cancel i {
    font-size: 1rem;
}

.btn-cancel:hover {
    background-color: #d32f2f;
}